// @describe Alias

// @it Register
alias-register({
    'clr': 'color'
})

body
    clr #000

// @expects
body{color:#000}


// @it Built in
// Some, not all of them

body
    f 10px
    ml 20px
    mr 10px
    bg-attach fixed

// @expects
body{font:10px;margin-left:20px;margin-right:10px;background-attachment:fixed}
