// @describe Scale

// @it Geometric progression
a = scale-geometric-progression(.5, 3, 2)
b = scale-modular(.5, 3, 2)

body
    val: a, b, a == b

// @expects
body{val:2,2,true}


// @it Geometric progression ::: reverse
a = scale-geometric-progression(.5, 3, 2)
b = scale-geometric-progression_reverse(.5, a, 2)

body
    val: a, b, b == 3

// @expects
body{val:2,3,true}


// @it Arithmetic progression
a = scale-arithmetic-progression(.5, 3, 2)
b = scale-arithmetic-progression(.5, 3)

body
    val: a, b

// @expects
body{val:4.5, 1.5}


// @it Arithmetic progression ::: reverse
a = scale-arithmetic-progression(.5, 3, 2)
b = scale-arithmetic-progression_reverse(.5, a, 2)

body
    val: a, b, b == 3

// @expects
body{val:4.5,3,true}


// @it Exponential growth
a = scale-exponential-growth(.5, 3, 2)

body
    val: a

// @expects
body{val:13.5}


// @it Exponential growth ::: reverse
a = scale-exponential-growth(.5, 3, 2)
b = scale-exponential-growth_reverse(.5, a, 2)

body
    val: a, b, b == 3

// @expects
body{val:13.5,3,true}


// @it Expotential
a = scale-expotential(.5, 3, 2)

body
    val: a

// @expects
body{val:201.71439674636753}


// @it Expotential ::: reverse
a = scale-expotential(.5, 3, 2)
b = scale-expotential_reverse(.5, a, 2)

body
    val: a, b, b == 3

// @expects
body{val:201.71439674636753,3,true}


// @it Qubic(no reverse)
body
    val: scale-qubic(1,1,1,1,5)


// @expects
body{val:156}
