// @describe To

// @it to-unit
test
    for $i in (20em 20cm 20in 20pt 20px 20rem 20 20ex 20% 20ch 20mm 20pc)
        for $j in ('em' 'cm' 'in' 'pt' 'px' 'rem' 'ex' '%' 'ch' 'mm' 'pc')
            from unit($i) to $j
            c $i to $j equals to-unit($i, $j)

// @expects
test{
    from:'em' to 'em';
    c:20em to 'em' equals 20em;
    from:'em' to 'cm';
    c:20em to 'cm' equals 8.466666666666667cm;
    from:'em' to 'in';
    c:20em to 'in' equals 3.333333333333333in;
    from:'em' to 'pt';
    c:20em to 'pt' equals 240pt;
    from:'em' to 'px';
    c:20em to 'px' equals 320px;
    from:'em' to 'rem';
    c:20em to 'rem' equals 20rem;
    from:'em' to 'ex';
    c:20em to 'ex' equals 40ex;
    from:'em' to '%';
    c:20em to '%' equals 2000%;
    from:'em' to 'ch';
    c:20em to 'ch' equals 33.333333333333336ch;
    from:'em' to 'mm';
    c:20em to 'mm' equals 84.66666666666667mm;
    from:'em' to 'pc';
    c:20em to 'pc' equals 20pc;
    from:'cm' to 'em';
    c:20cm to 'em' equals 47.24409448818898em;
    from:'cm' to 'cm';
    c:20cm to 'cm' equals 20cm;
    from:'cm' to 'in';
    c:20cm to 'in' equals 7.874015748031496in;
    from:'cm' to 'pt';
    c:20cm to 'pt' equals 566.9291338582677pt;
    from:'cm' to 'px';
    c:20cm to 'px' equals 755.91px;
    from:'cm' to 'rem';
    c:20cm to 'rem' equals 47.24409448818898rem;
    from:'cm' to 'ex';
    c:20cm to 'ex' equals 94.48818897637796ex;
    from:'cm' to '%';
    c:20cm to '%' equals 4724.4094488188975%;
    from:'cm' to 'ch';
    c:20cm to 'ch' equals 78.74015748031496ch;
    from:'cm' to 'mm';
    c:20cm to 'mm' equals 200mm;
    from:'cm' to 'pc';
    c:20cm to 'pc' equals 47.24409448818898pc;
    from:'in' to 'em';
    c:20in to 'em' equals 120em;
    from:'in' to 'cm';
    c:20in to 'cm' equals 50.800000000000004cm;
    from:'in' to 'in';
    c:20in to 'in' equals 20in;
    from:'in' to 'pt';
    c:20in to 'pt' equals 1440pt;
    from:'in' to 'px';
    c:20in to 'px' equals 1920px;
    from:'in' to 'rem';
    c:20in to 'rem' equals 120rem;
    from:'in' to 'ex';
    c:20in to 'ex' equals 240ex;
    from:'in' to '%';
    c:20in to '%' equals 12000%;
    from:'in' to 'ch';
    c:20in to 'ch' equals 200ch;
    from:'in' to 'mm';
    c:20in to 'mm' equals 508.00000000000006mm;
    from:'in' to 'pc';
    c:20in to 'pc' equals 120pc;
    from:'pt' to 'em';
    c:20pt to 'em' equals 1.666666666666667em;
    from:'pt' to 'cm';
    c:20pt to 'cm' equals .7055555555555556cm;
    from:'pt' to 'in';
    c:20pt to 'in' equals .2777777777777778in;
    from:'pt' to 'pt';
    c:20pt to 'pt' equals 20pt;
    from:'pt' to 'px';
    c:20pt to 'px' equals 26.67px;
    from:'pt' to 'rem';
    c:20pt to 'rem' equals 1.666666666666667rem;
    from:'pt' to 'ex';
    c:20pt to 'ex' equals 3.333333333333333ex;
    from:'pt' to '%';
    c:20pt to '%' equals 166.66666666666669%;
    from:'pt' to 'ch';
    c:20pt to 'ch' equals 2.777777777777778ch;
    from:'pt' to 'mm';
    c:20pt to 'mm' equals 7.055555555555556mm;
    from:'pt' to 'pc';
    c:20pt to 'pc' equals 1.666666666666667pc;
    from:'px' to 'em';
    c:20px to 'em' equals 1.25em;
    from:'px' to 'cm';
    c:20px to 'cm' equals .5291666666666667cm;
    from:'px' to 'in';
    c:20px to 'in' equals .20833333333333334in;
    from:'px' to 'pt';
    c:20px to 'pt' equals 15pt;
    from:'px' to 'px';
    c:20px to 'px' equals 20px;
    from:'px' to 'rem';
    c:20px to 'rem' equals 1.25rem;
    from:'px' to 'ex';
    c:20px to 'ex' equals 2.5ex;
    from:'px' to '%';
    c:20px to '%' equals 125%;
    from:'px' to 'ch';
    c:20px to 'ch' equals 2.083333333333333ch;
    from:'px' to 'mm';
    c:20px to 'mm' equals 5.291666666666667mm;
    from:'px' to 'pc';
    c:20px to 'pc' equals 1.25pc;
    from:'rem' to 'em';
    c:20rem to 'em' equals 20em;
    from:'rem' to 'cm';
    c:20rem to 'cm' equals 8.466666666666667cm;
    from:'rem' to 'in';
    c:20rem to 'in' equals 3.333333333333333in;
    from:'rem' to 'pt';
    c:20rem to 'pt' equals 240pt;
    from:'rem' to 'px';
    c:20rem to 'px' equals 320px;
    from:'rem' to 'rem';
    c:20rem to 'rem' equals 20rem;
    from:'rem' to 'ex';
    c:20rem to 'ex' equals 40ex;
    from:'rem' to '%';
    c:20rem to '%' equals 2000%;
    from:'rem' to 'ch';
    c:20rem to 'ch' equals 33.333333333333336ch;
    from:'rem' to 'mm';
    c:20rem to 'mm' equals 84.66666666666667mm;
    from:'rem' to 'pc';
    c:20rem to 'pc' equals 20pc;
    from:'' to 'em';
    c:20 to 'em' equals 20em;
    from:'' to 'cm';
    c:20 to 'cm' equals 20cm;
    from:'' to 'in';
    c:20 to 'in' equals 20in;
    from:'' to 'pt';
    c:20 to 'pt' equals 20pt;
    from:'' to 'px';
    c:20 to 'px' equals 20px;
    from:'' to 'rem';
    c:20 to 'rem' equals 20rem;
    from:'' to 'ex';
    c:20 to 'ex' equals 20ex;
    from:'' to '%';
    c:20 to '%' equals 20%;
    from:'' to 'ch';
    c:20 to 'ch' equals 20ch;
    from:'' to 'mm';
    c:20 to 'mm' equals 20mm;
    from:'' to 'pc';
    c:20 to 'pc' equals 20pc;
    from:'ex' to 'em';
    c:20ex to 'em' equals 10em;
    from:'ex' to 'cm';
    c:20ex to 'cm' equals 4.233333333333333cm;
    from:'ex' to 'in';
    c:20ex to 'in' equals 1.666666666666667in;
    from:'ex' to 'pt';
    c:20ex to 'pt' equals 120pt;
    from:'ex' to 'px';
    c:20ex to 'px' equals 160px;
    from:'ex' to 'rem';
    c:20ex to 'rem' equals 10rem;
    from:'ex' to 'ex';
    c:20ex to 'ex' equals 20ex;
    from:'ex' to '%';
    c:20ex to '%' equals 1000%;
    from:'ex' to 'ch';
    c:20ex to 'ch' equals 16.666666666666668ch;
    from:'ex' to 'mm';
    c:20ex to 'mm' equals 42.333333333333336mm;
    from:'ex' to 'pc';
    c:20ex to 'pc' equals 10pc;
    from:'%' to 'em';
    c:20% to 'em' equals 20em;
    from:'%' to 'cm';
    c:20% to 'cm' equals 8.466666666666667cm;
    from:'%' to 'in';
    c:20% to 'in' equals 3.333333333333333in;
    from:'%' to 'pt';
    c:20% to 'pt' equals 240pt;
    from:'%' to 'px';
    c:20% to 'px' equals 320px;
    from:'%' to 'rem';
    c:20% to 'rem' equals 20rem;
    from:'%' to 'ex';
    c:20% to 'ex' equals 40ex;
    from:'%' to '%';
    c:20% to '%' equals 20%;
    from:'%' to 'ch';
    c:20% to 'ch' equals 33.333333333333336ch;
    from:'%' to 'mm';
    c:20% to 'mm' equals 84.66666666666667mm;
    from:'%' to 'pc';
    c:20% to 'pc' equals 20pc;
    from:'ch' to 'em';
    c:20ch to 'em' equals 12em;
    from:'ch' to 'cm';
    c:20ch to 'cm' equals 5.08cm;
    from:'ch' to 'in';
    c:20ch to 'in' equals 2in;
    from:'ch' to 'pt';
    c:20ch to 'pt' equals 144pt;
    from:'ch' to 'px';
    c:20ch to 'px' equals 192px;
    from:'ch' to 'rem';
    c:20ch to 'rem' equals 12rem;
    from:'ch' to 'ex';
    c:20ch to 'ex' equals 24ex;
    from:'ch' to '%';
    c:20ch to '%' equals 1200%;
    from:'ch' to 'ch';
    c:20ch to 'ch' equals 20ch;
    from:'ch' to 'mm';
    c:20ch to 'mm' equals 50.8mm;
    from:'ch' to 'pc';
    c:20ch to 'pc' equals 12pc;
    from:'mm' to 'em';
    c:20mm to 'em' equals 4.724409448818898em;
    from:'mm' to 'cm';
    c:20mm to 'cm' equals 2cm;
    from:'mm' to 'in';
    c:20mm to 'in' equals .7874015748031497in;
    from:'mm' to 'pt';
    c:20mm to 'pt' equals 56.69291338582678pt;
    from:'mm' to 'px';
    c:20mm to 'px' equals 75.59px;
    from:'mm' to 'rem';
    c:20mm to 'rem' equals 4.724409448818898rem;
    from:'mm' to 'ex';
    c:20mm to 'ex' equals 9.448818897637796ex;
    from:'mm' to '%';
    c:20mm to '%' equals 472.44094488188983%;
    from:'mm' to 'ch';
    c:20mm to 'ch' equals 7.874015748031497ch;
    from:'mm' to 'mm';
    c:20mm to 'mm' equals 20mm;
    from:'mm' to 'pc';
    c:20mm to 'pc' equals 4.724409448818898pc;
    from:'pc' to 'em';
    c:20pc to 'em' equals 20em;
    from:'pc' to 'cm';
    c:20pc to 'cm' equals 8.466666666666667cm;
    from:'pc' to 'in';
    c:20pc to 'in' equals 3.333333333333333in;
    from:'pc' to 'pt';
    c:20pc to 'pt' equals 240pt;
    from:'pc' to 'px';
    c:20pc to 'px' equals 320px;
    from:'pc' to 'rem';
    c:20pc to 'rem' equals 20rem;
    from:'pc' to 'ex';
    c:20pc to 'ex' equals 40ex;
    from:'pc' to '%';
    c:20pc to '%' equals 2000%;
    from:'pc' to 'ch';
    c:20pc to 'ch' equals 33.333333333333336ch;
    from:'pc' to 'mm';
    c:20pc to 'mm' equals 84.66666666666667mm;
    from:'pc' to 'pc';
    c:20pc to 'pc' equals 20pc}


// @it to-string
body
    some-string: '10px' == to-string(10px) ? true : false

// @expects
body{
    some-string: true}


// @it to-literal
body
    some-literal: ('%s' % 10px) == to-literal(10px) ? true : false

// @expects
body{
    some-literal: true}
