alias-register({
    'dp':            'display'

    // Text
    'f':             'font'
    'f-family':      'font-family'
    'fs':            'font-size'
    'f-size':        'font-size'
    'fw':            'font-weight'
    'f-weight':      'font-weight'
    'f-stretch':     'font-stretch'
    'f-style':       'font-style'
    'f-variant':     'font-variant'
    'f-align':       'text-align'
    'f-align-last':  'text-align-last'
    'f-decoration':  'text-decoration'
    'f-indent':      'text-indent'
    'f-overflow':    'text-overflow'
    'f-shadow':      'text-shadow'
    'f-transform':   'text-transform'
    'f-color':       'color'

    'fh':            'line-height'
    'f-height':      'line-height'

    'lh':            'line-height'

    'th':            'line-height'
    't-height':      'line-height'

    't':             'font'
    't-family':      'font-family'
    'ts':            'font-size'
    't-size':        'font-size'
    'tw':            'font-weight'
    't-weight':      'font-weight'
    't-stretch':     'font-stretch'
    't-style':       'font-style'
    't-variant':     'font-variant'
    't-align':       'text-align'
    't-align-last':  'text-align-last'
    't-decoration':  'text-decoration'
    't-indent':      'text-indent'
    't-overflow':    'text-overflow'
    't-shadow':      'text-shadow'
    't-transform':   'text-transform'
    't-color':       'color'

    // Offsets
    'ma':            'margin'
    'mb':            'margin-bottom'
    'm-bottom':      'margin-bottom'
    'ml':            'margin-left'
    'm-left':        'margin-left'
    'mr':            'margin-right'
    'm-right':       'margin-right'
    'mt':            'margin-top'
    'm-top':         'margin-top'

    'pa':            'padding'
    'pb':            'padding-bottom'
    'p-bottom':      'padding-bottom'
    'pl':            'padding-left'
    'p-left':        'padding-left'
    'pr':            'padding-right'
    'p-right':       'padding-right'
    'pt':            'padding-top'
    'p-top':         'padding-top'

    // Background
    'bg':            'background'
    'bg-attach':     'background-attachment'
    'bg-attachment': 'background-attachment'
    'bg-clip':       'background-clip'
    'bg-color':      'background-color'
    'bg-img':        'background-image'
    'bg-image':      'background-image'
    'bg-origin':     'background-origin'
    'bg-pos':        'background-position'
    'bg-position':   'background-position'
    'bg-repeat':     'background-repeat'
    'bg-size':       'background-size'
})
